@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --blue: #dfe6eeff;
  --slate-gray: hsl(216, 15%, 48%);
  --columbia-blue: #c3d7f0ff;
}

body {
  background-color: var(--columbia-blue);
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;
  font-family: "Outfit", sans-serif;
}

.mainDiv {
  background-color: var(--blue);
  padding: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  max-width: 15%;
}

.qrDiv img {
    border-radius: 4%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 100%;
}

.textDiv{
    text-align: center;
    padding: 1%;
}

.textDiv p{
    color: var(--slate-gray);

}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}


@media (max-width: 768px) {
    .mainDiv {
      max-width: 50%;
      padding: 15px;
    }

    .textDiv{
        padding: 3%;
    }
  
    .textDiv h2 {
      font-size: 1.4rem;
    }
  }
  
  /* For mobile phones */
  @media (max-width: 480px) {
    body {
      padding: 6%;
    }
  
    .textDiv h2 {
      font-size: 1.1rem;
    }
  
    .textDiv p {
      font-size: 0.9rem;
    }
  }